.area {
    fill: steelblue;
    clip-path: url(#clip);
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.graph-align{
    display:flex;
    align-items:center;
    margin-left:20%;
    margin-top:5%
}

.graph-header {
    background-color: #c96567;
    color: white;
    padding-left: 25%;
}
