.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.graph-align{
    display:flex;
    align-items:center;
    margin-left:20%;
    margin-top:5%
}

.graph-header {
    background-color: #C14E50;
    color: white;
    padding-left: 25%;
}
