.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.graph-align{
    display:flex;
    align-items:center;
    margin-left:7%;
    margin-top:15px;
}

.graph-header {
    background-color: #C14E50;
    color: white;
    padding-left: 21%;
}
