<mat-toolbar style="background-color: #425e5e;color: white;">
  <span>SAM.GOV</span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" tabindex="0">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-group">
      <h3>Add filters</h3>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Start Date</mat-label>
        <input matInput id="startDate" name="startDate" formControlName="fromDate" [matDatepicker]="picker"
          placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Autocomplete</mat-label>
        <input type="text" placeholder="PSC Code" aria-label="psc code" matInput formControlName="pscValue"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of pscFilteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Naics Code</mat-label>
        <mat-select formControlName="pscValue" multiple>
          <mat-option *ngFor="let naics of options.naicsValue" [value]="naics">{{naics}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Text Value</mat-label>
        <input matInput #input formControlName="textValue">
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Submit</button>
    </form>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="background-color: #3aafa9;color: white;height: 60px;display: flex;
    align-items: center;padding-left: 10px;">
      <button mat-mini-fab color="primary" aria-label="Show Filters" (click)="sidenav.toggle()">
        <mat-icon inline='"true"'>{{opened ? "navigate_before":"navigate_next"}}</mat-icon>
      </button>
      <strong style="margin-left: 10px;">Toggle Filters</strong>
    </div>

    Graph goes here
    <br />
    <br />
    <br />
    Form Submit Value: {{ profileForm.value | json }}
  </mat-sidenav-content>
</mat-sidenav-container>