.form-group{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
}

.filter-toolbar {
    background-color: #c96567;
    color: white;
    padding-left: 25%;
}